h1 {
    margin-left: 10px;
}

mat-card {
    margin-left: 10px;
    margin-right: 10px;
}

#load-card {
    padding: 10px;
}

#result-container {
    margin-left: 10px;
    margin-right: 10px;
}

.article-card {
    margin-top: 10px;
}

.page-input {
    width: 100%;
}

.section-input {
    width: 100%;
}

.document-input {
    width: 100%;
}
