<h1>{{title}}</h1>
<mat-card id="load-card">
  <mat-card-header>
    <mat-card-title>Load Article</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
      <div class="item item-1" fxFlex="90%" fxLayoutAlign="left center">
        <mat-form-field class="id-input">
          <input matInput type="text" placeholder="Article ID" [(ngModel)]="articleId" />
          <button mat-button *ngIf="articleId" matSuffix mat-icon-button aria-label="Clear" (click)="articleId=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
      </div>
      <div class="item item-2" fxFlex="10%" fxLayoutAlign="center center">
        <button mat-button color="accent" (click)="onSubmit()">Load</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div id="arrow-icon" *ngIf="article">
  <mat-icon>arrow_downward</mat-icon>
</div>

<mat-card class="article-card" *ngIf="article">
  <mat-card-header>
    <mat-card-title>{{article.entryWord}}</mat-card-title>
    <mat-card-subtitle>{{article.documentId}} | {{article.id}} | {{article.iri}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
      <div class="item item-1" fxFlex="50%" fxLayoutAlign="left center">
        Proper noun:
      </div>
      <div class="item item-2" fxFlex="50%" fxLayoutAlign="left center">
        {{article.properNoun}}
      </div>
    </div>
    <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
      <div class="item item-1" fxFlex="50%" fxLayoutAlign="left center">
        Derivative:
      </div>
      <div class="item item-2" fxFlex="50%" fxLayoutAlign="left center">
        {{article.derivative}}
      </div>
    </div>
    <mat-expansion-panel *ngIf="article.partOfSpeech && article.partOfSpeech.length > 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Parts of Speech
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let pos of article.partOfSpeech">{{pos}}</mat-list-item>
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Form Variants
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-expansion-panel *ngFor="let fv of article.formVariants">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{fv.name}}
          </mat-panel-title>
          <mat-panel-description>
              Inflections
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-expansion-panel *ngFor="let inf of fv.inflections">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{inf.name}} ({{inf.occurrences}} occurrences)
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item *ngFor="let example of inf.examples">
              {{example.exampleSentence}} (page {{example.page}})
            </mat-list-item>
            <mat-list-item *ngIf="inf.examples.length === 0">
              No examples!
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-expansion-panel>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="article.editorNote">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Editor's Note
        </mat-panel-title>
      </mat-expansion-panel-header>
      {{article.editorNote}}
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="article.meaning">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Meaning
        </mat-panel-title>
      </mat-expansion-panel-header>
      {{article.meaning}}
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>
