<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/data/mongo
    					   http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

	<!-- <mongo:auditing auditor-aware-ref="auditor" /> -->

	<mongo:mongo id="mongo" host="${mongo.host}" port="${mongo.port}" />

	<mongo:db-factory id="mongoDbFactory" dbname="${mongo.database}"
		mongo-ref="mongo" write-concern="ACKNOWLEDGED" />

	<!-- Biggest fucking GOTCHA ever. Try giving this a different id... https://jira.spring.io/si/jira.issueviews:issue-html/DATAMONGO-1212/DATAMONGO-1212.html -->
	<mongo:mapping-converter id="mappingConverter"
		base-package="hu.bme.mit.textmine.mongo" />

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
		<constructor-arg name="mongoConverter" ref="mappingConverter" />
	</bean>

	<mongo:repositories base-package="hu.bme.mit.textmine.mongo" />

	<bean id="mongoValidationListener"
		class="org.springframework.data.mongodb.core.mapping.event.ValidatingMongoEventListener">
		<constructor-arg ref="mongoValidator" />
	</bean>

	<bean id="mongoValidator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
	</bean>
</beans>