<h1>{{title}}</h1>
<mat-card id="load-card">
  <mat-card-header>
    <mat-card-title>Load Lines</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
      <div class="item item-1" fxFlex="30%" fxLayoutAlign="left center">
        <mat-form-field class="person-input">
          <input matInput type="text" placeholder="Person name" [(ngModel)]="person" />
          <button mat-button *ngIf="person" matSuffix mat-icon-button aria-label="Clear" (click)="person=''">
                    <mat-icon>close</mat-icon>
                </button>
        </mat-form-field>
      </div>
      <div class="item item-2" fxFlex="30%" fxLayoutAlign="center center">
        <mat-form-field>
          <mat-select placeholder="Document" name="documentId" id="documentId" [(ngModel)]="selectedId">
            <mat-option *ngFor="let document of documents" [value]="document.id">
              {{document.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="item item-3" fxFlex="30%" fxLayoutAlign="center center">
        <mat-form-field class="serial-input">
          <input matInput type="number" placeholder="Section number" [(ngModel)]="serial" />
          <button mat-button *ngIf="serial" matSuffix mat-icon-button aria-label="Clear" (click)="serial=null">
                  <mat-icon>close</mat-icon>
              </button>
        </mat-form-field>
      </div>
      <div class="item item-4" fxFlex="10%" fxLayoutAlign="center center">
        <button mat-button color="accent" (click)="onSubmit()">Load</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<hr/>

<div class="result-container" *ngIf="lines">
  <mat-expansion-panel *ngIf="lines.baseHits && lines.baseHits.length > 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Base Hits
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card class="line-card" *ngFor="let line of lines.baseHits">
      <mat-card-header>
        <mat-card-title>{{serial}} / {{line.serial}}</mat-card-title>
        <mat-card-subtitle>{{selectedId}} | {{line.iri}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-expansion-panel *ngIf="line.content">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Content
            </mat-panel-title>
          </mat-expansion-panel-header>
          {{line.content}}
        </mat-expansion-panel>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="lines.noteHits && lines.noteHits.length > 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Note Hits
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card class="line-card" *ngFor="let line of lines.noteHits">
      <mat-card-header>
        <mat-card-title>{{serial}} / {{line.serial}}</mat-card-title>
        <mat-card-subtitle>{{selectedId}} | {{line.iri}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-expansion-panel *ngIf="line.content">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Content
            </mat-panel-title>
          </mat-expansion-panel-header>
          {{line.content}}
        </mat-expansion-panel>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
</div>
