<mat-toolbar color="primary" class="mat-elevation-z5">
    {{title}}
    <a mat-raised-button [routerLink]="['by-id']" routerLinkActive="active">By Id</a>
    <a mat-raised-button [routerLink]="['by-corpus']" routerLinkActive="active">By Corpus</a>
    <a mat-raised-button [routerLink]="['filter']" routerLinkActive="active">Filter</a>
    <a mat-raised-button [routerLink]="['filter-sections']" routerLinkActive="active">Filter Sections</a>
    <a mat-raised-button [routerLink]="['filter-pages']" routerLinkActive="active">Filter Pages</a>
    <a mat-raised-button [routerLink]="['filter-lines']" routerLinkActive="active">Filter Lines</a>
</mat-toolbar>
<router-outlet></router-outlet>
