<mat-toolbar color="primary" class="mat-elevation-z10">
  <img src="../assets/dh.png" /> Text Mine UI
  <a mat-raised-button routerLink="/documents" routerLinkActive="active">Documents</a>
  <a mat-raised-button routerLink="/articles" routerLinkActive="active">Articles</a>
  <a mat-raised-button routerLink="/notes" routerLinkActive="active">Notes</a>
  <a mat-raised-button routerLink="/locations" routerLinkActive="active">Locations</a>
  <a mat-raised-button routerLink="/persons" routerLinkActive="active">Persons</a>
  <a mat-raised-button routerLink="/stats" routerLinkActive="active">Statistics</a>
</mat-toolbar>

<router-outlet></router-outlet>
