h1 {
    margin-left: 10px;
}

mat-card {
    margin-left: 10px;
    margin-right: 10px;
}

mat-form-field {
    width: 100%;
}

#load-card {
    padding: 10px;
}

.result-container {
    margin-left: 10px;
    margin-right: 10px;
}

.line-card {
    margin-top: 10px;
}

.location-input {
    width: 100%;
}

#documentId {
    width: 100%;
}

.serial-input {
    width: 100%;
}
