<h1>{{title}}</h1>
<mat-card id="load-card">
  <mat-card-header>
    <mat-card-title>Load Sections</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div class="item item-1" fxFlex="45%" fxLayoutAlign="left center">
          <mat-form-field class="location-input">
            <input matInput type="text" placeholder="Location name" [(ngModel)]="location" />
            <button mat-button *ngIf="location" matSuffix mat-icon-button aria-label="Clear" (click)="location=''">
                  <mat-icon>close</mat-icon>
              </button>
          </mat-form-field>
        </div>
      <div class="item item-2" fxFlex="45%" fxLayoutAlign="center center">
        <mat-form-field>
            <mat-select placeholder="Document" name="documentId" id="documentId" [(ngModel)]="selectedId">
              <mat-option *ngFor="let document of documents" [value]="document.id">
                {{document.title}}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      <div class="item item-3" fxFlex="10%" fxLayoutAlign="center center">
        <button mat-button color="accent" (click)="onSubmit()">Load</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<hr/>

<div class="result-container" *ngIf="sections">
    <mat-expansion-panel *ngIf="sections.baseHits && sections.baseHits.length > 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Base Hits
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card class="section-card" *ngFor="let section of sections.baseHits">
        <mat-card-header>
          <mat-card-title>{{section.serial}}</mat-card-title>
          <mat-card-subtitle>{{selectedId}} | {{section.iri}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-expansion-panel *ngIf="section.content">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Content
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="content-area">
              <textarea matInput placeholder="Content" [(ngModel)]="section.content" readonly></textarea>
            </mat-form-field>
            <mat-form-field class="normalized-area">
              <textarea matInput placeholder="Normalized" [(ngModel)]="section.normalized" readonly></textarea>
            </mat-form-field>
          </mat-expansion-panel>
        </mat-card-content>
      </mat-card>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="sections.noteHits && sections.noteHits.length > 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Note Hits
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card class="section-card" *ngFor="let section of sections.noteHits">
        <mat-card-header>
          <mat-card-title>{{section.serial}}</mat-card-title>
          <mat-card-subtitle>{{selectedId}} | {{section.iri}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-expansion-panel *ngIf="section.content">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Content
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="content-area">
              <textarea matInput placeholder="Content" [(ngModel)]="section.content" readonly></textarea>
            </mat-form-field>
            <mat-form-field class="normalized-area">
              <textarea matInput placeholder="Normalized" [(ngModel)]="section.normalized" readonly></textarea>
            </mat-form-field>
          </mat-expansion-panel>
        </mat-card-content>
      </mat-card>
    </mat-expansion-panel>
</div>
