<h1>{{title}}</h1>
<mat-card id="load-card">
  <mat-card-header>
    <mat-card-title>Load Lines</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
      <div class="item item-1" fxFlex="75%" fxLayoutAlign="center center">
        <mat-progress-bar class="load-progress" color="accent" [mode]="progressMode" [value]="progressValue">
        </mat-progress-bar>
      </div>
      <div class="item item-2" fxFlex="20%" fxLayoutAlign="center center">
        <mat-form-field>
          <mat-select placeholder="Document" name="documentId" id="documentId" [(ngModel)]="selectedId">
            <mat-option *ngFor="let document of documents" [value]="document.id">
              {{document.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="item item-3" fxFlex="5%" fxLayoutAlign="right center">
        <button mat-button color="accent" (click)="onSubmit()">Load</button>
      </div>
    </div>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filter Conditions
        </mat-panel-title>
        <mat-panel-description>
          Click to toggle
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div class="item item-1" fxFlex="50%" fxLayoutAlign="left center">
          <mat-form-field class="phrase-input">
            <input matInput type="text" placeholder="Phrase" [(ngModel)]="filters.phrase" />
            <button mat-button *ngIf="filters.phrase" matSuffix mat-icon-button aria-label="Clear" (click)="filters.phrase=''">
                    <mat-icon>close</mat-icon>
                </button>
          </mat-form-field>
        </div>
        <div class="item item-2" fxFlex="50%" fxLayoutAlign="right center">
          <mat-form-field class="serial-input">
            <input matInput type="number" placeholder="Section number" [(ngModel)]="filters.serial" />
            <button mat-button *ngIf="filters.serial" matSuffix mat-icon-button aria-label="Clear" (click)="filters.serial=null">
                    <mat-icon>close</mat-icon>
                </button>
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>

<hr/>

<div class="result-container" *ngIf="lines">
  <mat-expansion-panel *ngIf="lines.baseHits && lines.baseHits.length > 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Base Hits
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card class="line-card" *ngFor="let line of lines.baseHits">
      <mat-card-header>
        <mat-card-title>{{filters.serial}} / {{line.serial}}</mat-card-title>
        <mat-card-subtitle>{{selectedId}} | {{line.iri}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-expansion-panel *ngIf="line.content">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Content
            </mat-panel-title>
          </mat-expansion-panel-header>
          {{line.content}}
        </mat-expansion-panel>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="lines.noteHits && lines.noteHits.length > 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Note Hits
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card class="line-card" *ngFor="let line of lines.noteHits">
      <mat-card-header>
        <mat-card-title>{{filter.serial}} / {{line.serial}}</mat-card-title>
        <mat-card-subtitle>{{selectedId}} | {{line.iri}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-expansion-panel *ngIf="lines.content">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Content
            </mat-panel-title>
          </mat-expansion-panel-header>
          {{lines.content}}
        </mat-expansion-panel>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
</div>
